<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageAccountKey" 
         value="DefaultEndpointsProtocol=https;AccountName=psvishnu17;AccountKey=d36VSz4Adf8xT7K9H7Gmy8HKMY2MdCluK0H0M1yQX+NZ3NW0q8He12e28mYdtDy+CjQtjihLYS3sZoZb6TjgBQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>